{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "printWidth": 80,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf"
}
